{##}
{# You only need the previous line if you use the OctoberCMS Template Language extension in VS Code #}

{# You can map any component property to a local page variable this way:{% set galleryitems = __SELF__.gallery.items %} #}

{% if __SELF__.error %}
	<div class="alert zen-alert">{{ __SELF__.error }}</div>
{% endif %}

{% if gallery.items|length > 0 %}

	<div id="{{__SELF__.id}}" style="display:none;">
		{# If you are replacing this with your own template, you can use a straight twig filter as follows: 
			<img src="{{ galleryitem.url | resize(280, false,  { mode: 'portrait', quality: '90', extension: 'png' }) }}"></img>
		#}
		{% for galleryitem in gallery.items.sortBy(gallery.sortBy, SORT_REGULAR, gallery.sortDirection == 'DESC' ? true : false) %}
			<img alt="{{ galleryitem.title }}" src="{{ galleryitem.galleryItemSrc }}"
				data-image="{{ galleryitem.url }}"
				data-description="{{ galleryitem.description }}"
				data-title="{{ galleryitem.title }}" />
		{% endfor %}
	</div>

	{% put scripts %}
	<script type="text/javascript"> 
		// UniteGallery: https://github.com/vvvmax/unitegallery/
		jQuery(document).ready(function(){ 

		{# If we have a custom script set (in the November Gallery backend configuration page), then simply o/p that: #}
		{% if __SELF__.customGalleryScript %}
			{{ __SELF__.customGalleryScript|raw }}	
		{% else %}
			
			jQuery("#{{__SELF__.id}}").unitegallery({

				{{ __SELF__.defaultGalleryOptions|raw }}

				// Add additional options here!
				// See: http://unitegallery.net/index.php?page=tiles-columns-options
				// For example: 
				// tiles_col_width: 280,                   //column width - exact or base according the settings
			}); 

		{% endif %}
		}); 

	</script>
	{% endput %}

{% endif %}