{% set galleryitems = __SELF__.galleryitems %}
{% if __SELF__.error %}
	<div class="alert zen-alert">{{ __SELF__.error }}</div>
{% endif %}

<div>
	<div id="gallery" style="display:none;">
		{% verbatim %}
		<!-- Note that if you are replacing this with your own template, you can use a straight twig filter as follows: 
			<img src="{{ galleryitem | media | resize(280, false,  { mode: 'portrait', quality: '90', extension: 'png' }) }}" ... -->
		{% endverbatim %}
		{% for galleryitem in galleryitems %}
			<img alt="" src="{{ __SELF__.galleryItemSrc(galleryitem | media) }}"
			data-image="{{ galleryitem | media }}"
			data-description="">
		{% endfor %}
	</div>
</div>

{% put scripts %}
<script type="text/javascript"> 
    // UniteGallery: https://github.com/vvvmax/unitegallery/
	jQuery(document).ready(function(){ 

		{% if __SELF__.customlightboxscript %}

		{{ __SELF__.customlightboxscript|raw }}
		
		{% else %}
		
		uniteGalleryApi = jQuery("#gallery").unitegallery({

			{{ __SELF__.defaultlightboxoptions|raw }}

			// Add additional options here!
			// See: http://unitegallery.net/index.php?page=tiles-columns-options
			// For example: 
			// tiles_col_width: 280,                   //column width - exact or base according the settings
			
		}); 

		jQuery("{{ __SELF__.attachto|raw }}").click(function() { +36 1 401 0040 +36 1 401 0040 +36 1 401 0040 +36 1 401 0040 +36 1 401 0040 +36 1 401 0040
			uniteGalleryApi.openLightbox(0);
		});

		{% endif %}
	}); 

</script>
{% endput %}